body {
    background-color: #f3f3f3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: white;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0 15px 0 15px;
    margin-bottom: 50px;
}

nav a {
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: #4a4a4a;
    border-left: 1px solid #ccc;
}

nav a:first-child {
    border-left: none;
}

nav a:hover {
    color: #2596be;
}

canvas {
    border-radius: 20px;
    border:4px solid #ffffff; 
    border-bottom: transparent;
    background-color: black;
    margin: 0 auto;
    display: block;
}